body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 1em;
}

h1 {
  color: #4285f4;
  margin: 0;
}

button[disabled] {
  opacity: 0.5;
}

button {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5em;
}

table, th, td, caption {
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

#sec_details, #sec_list {
  display: none;
}

.clickable {
       cursor: pointer;
}
