body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 1em;
}

h1 {
  color: #4285f4;
  margin: 0;
}

button[disabled] {
  opacity: 0.5;
}

button {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5em;
}

table, th, td, caption {
  border: 1px solid black;
}

ol {
  display: table;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0 0 0 0.5em;
}

#form_details ol li {
  display: table-row;
}

#form_details label {
  font-size: x-large;
  vertical-align: middle;
}

#form_details label, #form_details input, #form_details select, #form_details textarea  {
  display: table-cell;
  /*border: 1px solid blue;*/
  font-size: x-large;
  vertical-align: middle;
  margin: 0.5em;
}

#form_details input{
  width: 8em;
}

#form_details textarea {
  width: 90%;
}

#form_details span {
  font-size: x-large;
  padding-left: 0.5em;
}

#sec_details, #sec_list {
  display: none;
}

.clickable {
       cursor: pointer;
}
